<h3 class="ui center aligned icon header red">
  <i class="circular comment icon red"></i>
  Start Chatting
</h3>

<div class="ui grid">
  <div class="twelve wide column">
    <div class="ui card fluid raised box">
      <div class="content">
        <div class="ui feed">
          <%= render @messages %>
        </div>
      </div>
      <div class="extra content">
        <%= render 'messages/new', object: @message %>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui card fluid raised box">
      <div class="content">
        <div class="ui inverted vertical menu">
          <a class="active item">
            Online Users
          </a>
          <%= render partial: 'user', collection: @users %>
        </div>
      </div>
    </div>
  </div>
</div>
