<% if flash[:notice] %>
  <div class="ui success message">
    <i class="close icon"></i>
    <div class="header">
      Yes!.
    </div>
    <p class="notice"><%= notice %></p>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="ui negative message">
    <i class="close icon"></i>
    <div class="header">
      Sorry!
    </div>
    <p class='alert'><%= alert %></p>
  </div>
<% end %>
